

<span class="bodyimg">
  <!--<img src="../assets/images/download.jpg" alt="img">-->
<div class="topbtn">
    <a class="nav-link" href="#boxes">Features</a>
    <a class="nav-link" href="#">UG Hotels Brand</a>
    <a class="nav-link" href="#">How it Works</a>
    <a class="nav-link" href="#">Partner Speak</a>
<span class="signinbtn">
    <a class="waves-effect white btn-large">Sign In</a>
</span>
</div>

<div class="row">
    <div class="col s6">
      <div class="jumbo-title">
                Super Charge your business by 
              </div>

              <div class="jumbo-title2">
                  making UG growth partner
                  </div>



              <div class="jumbo-sub-title">
                  Trusted by over 000,8 travel agents worldwide
                </div>
                
                <div class="row mt-5">
                  
                    <div class="col-md-3 col-4">
                      <div class="d-flex mt-3">
                        <img src="./assets/images/group-19.svg" class="jumbo_images">
                        <div class="jumbo-counter-text">
                          0000+<br><span>Hotels</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-4">
                      <div class="d-flex mt-3">
                        <img src="./assets/images/group-9.svg" class="jumbo_images">
                        <div class="jumbo-counter-text">
                          000+<br><span>Cities</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-4">
                      <div class="d-flex mt-3">
                        <img src="./assets/images/globe.svg" class="jumbo_images">
                        <div class="jumbo-counter-text">
                          000+<br><span>Countries</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  
        </div>
    <div class="col s6">
        <div class="col s10 push-s2">

      <div class="card">
        <br>
        <span class="card-title">Agent Registration</span>
        <div class="card-content">
            <div class="input-field ">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Name</label>
              </div>
           
              <div class="input-field ">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Company</label>
                </div>
                    
                <div class="input-field">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Email</label>
                </div>
                      
               <div class="row1">
                  <div class="col s3">
                    <select class="selectcode">
                        <option value="+91" data-icon="../assets/images/India-128.png" class="left">+91</option>
                        <option value="+62" data-icon="../assets/images/Pakistan-128.png" class="left">+62</option>
                        <option value="+97" data-icon="../assets/images/Usa_flag-128.png" class="left">+97</option>
                        <option value="+32" data-icon="../assets/images/Malaysia-128.png" class="left">+32</option>
                    </select>
                  </div>

               <div class="row">
                  <div class="col s12">
                    
                    
                      <textarea id="textarea1" class="materialize-textarea" placeholder="Mobile"></textarea>
                  </div>  

               </div>


                  
               </div>
                            <div class="input">
                                <select class="icons">
                                    <label>Select Your Country </label>
                                  <option value="" disabled selected>Country</option>
                                  <option value="" data-icon="../assets/images/India-128.png" class="left">India</option>
                                  <option value="" data-icon="../assets/images/Pakistan-128.png" class="left">Pakistan</option>
                                  <option value="" data-icon="../assets/images/Usa_flag-128.png" class="left">Usa</option>
                                  <option value="" data-icon="../assets/images/Malaysia-128.png" class="left">Malaysia</option>
                                </select>
                                
                              </div>
                            

                          <button class="btn waves-effect waves-light" type="submit" name="action">Request To Call
                              <i class="smalll material-icons">check</i>
                            </button>
                          
                          </div>
      </div>
      </div>
      </div>
</div>

<section id="boxes">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="box_title">
            The features your business need
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="box">
                <img src="./assets/images/commission-copy.svg">
                <h3>
                  Super Commissions
                </h3>
                <p>

                    Earn upto 10% base commission & 100% <br>upsell
                                   commission with Free room nights!<br>
                    Over Rs. 25 crore in commissions earned<br> by Travel Agents in 2018.
                                  </p>
              </div>  
                  </div>

                  <div class="box">
                      <img src="./assets/images/stopwatch-copy.svg">
                      <h3>
                        Quick automated payouts
                      </h3>
                      <p>
                        Automated Commission payouts<br> post check-out within 24 hours
                      </p>
                    </div>

                    <div class="box">
                        <img src="./assets/images/pie-chart-copy.svg">
                        <h3>
                          Know your Business
                        </h3>
                        <p>
                          Sales, Savings and Commission <br>reporting and analytics
                        </p>
                      </div>
      </div>
    </div>
  </section>



  



      

      
  
    
  
  